---
import type { itemListSingleType } from "@/types/api";
interface Props {
  url: string;
  itemList: {
    data: itemListSingleType[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: {
      current: string;
      next: string;
      prev: string;
    };
  };
}
const { url, itemList } = Astro.props;
const STEP = 2; //現在のページの前後表示数

const currentPage = Number(itemList.currentPage); //現在のページ数

let maxPage = itemList.lastPage; //全ページ数

let firstFlg = false; //・・・と最初のリンクを表示するかどうか
let lastFlg = false; //・・・と最後のリンクを表示するかどうか

let firstStep = currentPage  - STEP; // 現在のページの前に表示する最初のページ
let lastStep = currentPage + STEP; //現在のページの後に表示する最後のページ

if (firstStep <= 0) {
  firstStep = 1;
  firstFlg = false;
} else {
  if (1 < firstStep) {
    firstFlg = true;
  } else {
    firstFlg = false;
  }
}

if (maxPage <= lastStep) {
  lastStep = maxPage;
  lastFlg = false;
} else {
  lastFlg = true;
}

/**
 * 配列を出力
 * @param start 
 * @param end 
 */
const range = (start: number, end: number) =>
  [...Array(end - start + 1)].map((_, i) => start + i);

---

<>
  <div class="flex justify-center">
    <ul class="flex gap-4 mt-1 c-pageNavi text-[#333]">
      {
        1 < currentPage && (
          <li class="flex bg-white rounded-md shadow-md ">
            <a
              href={`${url}/page/${currentPage - 1}`}
              class="flex items-center px-3 py-2"
            >
              ＜
            </a>
          </li>
        )
      }
      {
        firstFlg && (
          <>
            <li class="flex bg-white rounded-md shadow-md">
              <a href={`${url}/page/1`} class="flex items-center px-3 py-2">
                1
              </a>
            </li>
            <li class="flex text-white items-center">...</li>
          </>
        )
      }
      {
        range(firstStep, lastStep).map((number) => (
          <li
            class={`flex bg-white rounded-md shadow-md ${number === currentPage ? "is-current" : ""}`}
          >
            {number === currentPage ? (
              <span class="flex items-center px-3 py-2">{number}</span>
            ) : (
              <a
                href={`${url}/page/${number}`}
                class="flex items-center px-3 py-2"
              >
                {number}
              </a>
            )}
          </li>
        ))
      }
      {
        lastFlg && (
          <>
            <li class="flex text-white items-center">...</li>
            <li class="flex bg-white rounded-md shadow-md">
              <a
                href={`${url}/page/${maxPage}`}
                class="flex items-center px-3 py-2"
              >
                {maxPage}
              </a>
            </li>
          </>
        )
      }
      {
        currentPage  < maxPage && (
          <li class="flex bg-white rounded-md shadow-md ">
            <a
              href={`${url}/page/${currentPage + 1}`}
              class="flex items-center px-3 py-2"
            >
              ＞
            </a>
          </li>
        )
      }
    </ul>
  </div>
</>
